*{
    padding: 0;
    margin: 0;
    font-family: 'Cinzel', serif;
}

/* SEKCJA GŁÓWNA */
.main {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #1A1A1D;
    padding: 1vh 0 1vh 0;
    color: #AD974F;
    font-family: 'Cinzel', serif;
}

.navbar a{
    text-decoration: none;
    color: #8E793E;
}

.navbar p{
    font-weight: 600;
    font-size: 1.25rem;
}

.hamburger{
    display: none;
}
  
.slider{
    background: #1A1A1D;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('img/MainBanner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.slider h1{
    color: #AD974F;
    font-weight: 500;
    font-size: 4rem;
}
  
.row{
    flex: 0 1 auto;
}

.main .row.slider {
    flex: 1 1 auto;
}

.o_nas{
    min-height: 100vh;
    background-color: #1A1A1D;
    display: flex;
    align-items: center;
}

.o_nas-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.o_nas-text p,h1{
    margin: 0 10% 0 10%;
    color: #AD974F;
    
}

.o_nas-text p{
    font-size: 2rem;
}

.o_nas-text h1{
    font-size: 3rem;
}

.o_nas-image{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o_nas-image img{
    width: 70%;
}

/* PROJEKTY */
.projekty{
    min-height: 100vh;
    background-color: aliceblue;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.projekty-header{
    flex: 0 1 auto; 
    padding: 2% 0%;
    font-size: 2rem;
}

.projekty-content{
    flex: 1 1 auto;
    margin: 0% 5% 3% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 350px);
    column-gap: 50px;
    row-gap: 25px;
}

.projekty-objekt{
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}

.text-background{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    color: aliceblue;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}

.text-background:hover{
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: 0.3s;
}

.one{
    background-image: url("img/Project1.jpg");
    
}

.two{
    background-image: url("img/Project2.jpg");
}

.three{
    background-image: url("img/Project3.jpg");
}

.fourth{
    background-image: url("img/Project4.jpg");
}

.five{
    background-image: url("img/Project5.jpg");
}

.six{
    background-image: url("img/Project6.jpg");
}

.seven{
    background-image: url("img/Project7.jpg");
}

.eight{
    background-image: url("img/Project8.jpg");
}

.nine{
    background-image: url("img/Project9.jpg");
}

/* KARIERA */
.kariera{
    background-color: #1A1A1D;
    min-height: 100vh;
    display: flex;
}

.kariera-image, .kariera-text{
    width: 50%;
    height: 100%;
    margin: auto 0;
    text-align: center;
}

.kariera-text h1{
    font-size: 5rem;
    padding: 0 0 3rem 0;
}

.kariera-text p{
    font-size: 2rem;
    padding: 0% 5%;
    color: #AD974F;
}

.kariera-image img{
    width: 90%;
}


/* KONTAKT */
.kontakt{
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.kontakt-form{
    min-height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kontakt-mapa{
    min-height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapa{
    height: 70%;
    width: 90%;
}

.mapaFaktyczna{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 1350px){
    .kariera{
        flex-direction: column;
    }
    .kariera-text, .kariera-image{
        height: 50%;
        width: 100%;
        padding: 4% 0;
    }

    .o_nas{
        flex-direction: column;
    }

    .o_nas-image{
        margin: 5% 0 10% 0;
    }

    .o_nas-text{
        margin: 10% 0 5% 0 ;
    }
    .o_nas-text h1{
        font-size: 3rem;
    }
    .o_nas-text p{
        font-size: 2rem;
    }

    .o_nas > div{
        width: 100%;
    }
}

@media only screen and (max-width:1100px){
    .projekty{
        height: auto;
    }

    .projekty-content{
        display: grid;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 250px);
        column-gap: 50px;
        row-gap: 25px;
    }
}

@media only screen and (max-width:800px){
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 0 2% 0 2%;
    }

    .navbar-link{
        display: none;
    }

    .hamburger{
        display:initial;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .hamburger-line{
        width: 100%;
        height: 10%;
        background-color: #AD974F;
        border-radius: 15px;
    }
    
    .projekty-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 500px);
    }

    .projekty-objekt{
        margin: 3% 0;
    }


} 

